@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2021-05-06 12:05:54
 * @version $Id$
 */
.g-main{
	width:100%;
	height:auto;
}
.m-title{
	background-color: #008DEF;
	color: white;
	text-align: center;
}
.m-x>.col-md-8,.m-x>.col-md-4{
	padding: 0;
	margin: 0; 
}
.u-top-left{
	width: 620px;
	height: 230px;
	background-color: #666;
	margin: 20px 0 10px 50px;
}
.u-top-right{
	width: 250px;
	height: 230px;
	background-color: #EBEBEB;
	margin: 20px 70px 10px -20px;
	text-align: center;
}
.u-ku{
	width: 110px;
	height: 30px;
	border-radius: 4px;
	background-color: #008DEF;
	margin: 20px 0 10px 70px;
}
.u-xu{
	width: 180px;
	border-bottom: 1px dashed black;
	margin: 60px 0 10px 35px;
}
.u-top-right>.col-md-2{
	padding: 0;
	margin: 0;
}
.u-wd{
	width: 125px;
	height: 30px;
}
.u-ta>.col-md-6,.u-ta>.col-md-2{
	padding: 0;
	margin: 0;
}
.u-ta-a{
	border: 2px solid #ccc;
}
.u-ka{
	width: 210px;
	height: 130px;
	margin: 15px 0 0 27px;
	background-color: #666;
}
.u-kb{
	width: 180px;
	height: 100px;
	margin: 0 0 0 10px;
	background-color: #666;
}
.u-ua{
	width: 266px;
	height: 194px;
	border-top: 2px solid #ccc;
	border-right: 2px solid #ccc;
	border-bottom: 2px solid #ccc;
}
.u-ub{
	width: 207px;
	height: 194px;
	padding-top: 20px;
	border-right: 2px solid #ccc;
	border-bottom: 2px solid #ccc;
}
.u-mm{
	width: 35px;
	border-radius: 2px;
	background-color: #FF7735;
	color: white;
	text-align: center;
	margin: 5px 5px 5px 10px; 
}
.u-kc{
	width: 312px;
	height: 230px;
	border-right: 2px solid #ccc;
	border-bottom: 2px solid #ccc;
	padding-top: 20px;
	padding-left: 20px;
}
.y-ss{
	width: 270px;
	height: 120px;
	background-color: #666;
	margin-bottom: 10px;
}
.u-bm{
	width: 207px;
	height: 180px;
	padding-top: 20px;
	border-left: 2px solid #ccc;
	border-bottom: 2px solid #ccc;
}
.u-bn{
	width: 414px;
	height: 180px;
	padding-top: 20px;
	border-right: 2px solid #ccc;
	border-bottom: 2px solid #ccc;
}
.u-mr{
	width: 621.5px;
	height: 180px;
	padding: 20px;
	border-right: 2px solid #ccc;
	border-bottom: 2px solid #ccc;
	border-left: 2px solid #ccc;
}
.u-hr{
	width: 250px;
	height: 230px;
	padding: 20px;
	border-top: 2px solid #ccc;
	border-right: 2px solid #ccc;
	border-left: 2px solid #ccc;
	border-bottom: 3px solid #0092F1;
	margin: 0 0 20px -33px;
}
.u-lk{
	width: 200px;
	height: 100px;
	background-color: #666;
}
.u-kt{
	width: 105px;
}
.u-ol{
	width: 200px;
	margin: 10px 0 0 0;
	border-bottom: 2px dashed #ccc;
}
.u-ok{
	width: 150px;
	height: 90px;
	margin: 20px;
	background-color: #666;
}