@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2021-05-06 10:49:50
 * @version $Id$
 */
.g-main{
	width: 375px;
	height:auto;
	margin:0 auto;
}
.g-search{
	background-color: #00C2AF;
	text-align: center;
	color: white;
}
.name{
	margin-top: 25px;
}
.cicle{
	width: 45px;
	height: 45px;
	margin-left: 10px;
	margin-top: 15px;
	border-radius: 50px;
}
.cctext{
	text-align: center;
}
.empt{
	height: 15px;
	background-color: #f1f0ed;
	border-top: 0.5px solid #E4DED6;
	border-bottom: 0.5px solid #E4DED6;
	margin-top: 10px;
}
.u-re{
	margin-top: 15px;
	margin-left: 10px;
	margin-right: 10px; 
	border-bottom: 2px solid #ccc;
}
.pta{
	width: 85px;
	height: 85px;
	margin-top: 10px;
	margin-left: 10px;
	background-color: #666;
}
.ptb{
	width: 55px;
	height: 55px;
	margin-left: 60px;
	margin-bottom: 10px;
	background-color: #666;
}
.ptc{
	width: 45px;
	height: 45px;
	margin-top: 5px;
	margin-left: 40px;
	background-color: #666;
}
.ptd{
	width: 48px;
	height: 48px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 60px;
	background-color: #666;
}
.text-ct{
	height: 20px;
	margin: 10px 10px 10px 10px ;
	border-bottom: 2px solid #ccc;
}
.u-line{
	height: 15px;
	margin: 0 10px 0 10px;
	border-bottom: 2px solid #ccc;
}
.text-bo{
	margin-top: 15px;
}
.u-circle{
	border-radius: 5px;
	border: 1.5px solid orange;
	margin-left: 5px;
	color: orange;
}
.u-sole{
	width: 75px;
}
.u-xiugai>.col-xs-5{
	width: 150px;
	padding: 0 0 0 0 ;
	margin: 10px 0 0 15px; 
}
.u-xiugai>.col-xs-3{
	padding: 0 0 0 0 ;
	margin: 10px 0 0 12px;
	opacity: 0.7; 
}
.u-bofont{
	margin: 15px -7px 15px -5px;
}
.u-bofont>.col-xs-11,.u-bofont>.col-xs-1{
	height: 30px;
	font-size: 15px;
	padding: 5px 2px 0 2px;
	background-color: #00B3D1;
	color: white;
}